<h2 class="text-center m-3">Donkey Story</h2>
<hr>
<div class="d-flex">
  <div class="container">
      <h3 class="text-center">Liste des Donkeys</h3>
      <hr>
      <a routerLink="create-donkey"><button class="btn btn-warning m-3">Ajouter un Donkey</button></a>
    <div class="d-flex flex-wrap container">
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
      <div class="card border border-warning p-3 m-3">
        <img src="https://via.placeholder.com/200" alt="">
        <h4>Lorem ipsum dolor</h4>
        <p>lkfv</p>
        <button class="btn btn-secondary">Adopter</button>
      </div>
    </div>
  </div>
  <div>
    <app-user-donkey></app-user-donkey>
  </div>
</div>
